﻿<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
 <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
</head>
<body id="app">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->    
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Saray Grill</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li class="active"><a href="#/menu">Menu</a></li>
                    <li class="active"><a href="#/directions">Directions</a></li>
                    <li><a href="#/aboutus">About</a></li>
                    <li><a href="#/contactus">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Add your site or application content here -->
    <div class="container" v-view="currentView" v-ref="view"></div>
    
    <!-- FOOTER -->
    <div class="container">
        <div class="footer">
<!--            <div class="row">-->
<!--                <ul class="img-thumbnail 6u">-->
<!--                    <li class="fa fa-foursquare">-->
<!--                        <a href="http://4sq.com/1geNTHy">foursquare.com/v/saray-grill-čevapčići</a>-->
<!--                    </li>-->
<!--                    <li class="fa fa-facebook">-->
<!--                        <a href="http://www.facebook.com/SarayGrill">facebook.com/SarayGrill</a>-->
<!--                    </li>-->
<!--                    <li class="fa fa-google-plus">-->
<!--                        <a href="#">google.com/+untitled-tld</a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
            <footer>
                <p class="pull-right"><a href="#">Back to top</a></p>
                <p>© 2014 Saray Grill Restaurant, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
            </footer>
        </div>        
    </div>


    <script id="home" type="x-template">


        <!-- Marketing messaging and featurettes
        ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->

        <div class="container marketing">
            <!-- START THE FEATURETTES -->

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Always prepared <span class="text-muted">fresh</span>, <span class="text-muted">fast</span> and <span class="text-muted">affordable!</span></h2>
                    <p class="lead">Enjoy our assortment of grill entries, home-made Bosnian specialties, delicious deserts, as well as soups, salads and quick bites that is to please every taste bud</p>
                    <a class="btn btn-default" href="#/menu">
                        <i class="icon-bar"></i> Check Out Our Menu
                    </a>
                </div>
                <div class="col-md-5" v-view="carousel" v-ref="view">
                    <div style="height: 305px">
                        <carousel interval="5000">
                            <slide ng-repeat="slide in slides" active="slide.active">
                                <img ng-src="{{slide.image}}" style="margin:auto;">
                                <div class="carousel-caption">
                                    <h4>{{slide.title}}</h4>
                                    <p>{{slide.text}}</p>
                                </div>
                            </slide>
                        </carousel>
                    </div>
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-5" ng-controller="RestCarouselCtrl">
                    <div style="height: 305px">
                        <carousel interval="4000">
                            <slide ng-repeat="slide in slides" active="slide.active">
                                <img ng-src="{{slide.image}}" style="margin:auto;">
                                <div class="carousel-caption">
                                    <h4>{{slide.title}}</h4>
                                    <p>{{slide.text}}</p>
                                </div>
                            </slide>
                        </carousel>
                    </div>
                </div>

                <div class="col-md-7">
                    <h2 class="featurette-heading">Location</h2>
                    <p class="lead">We are located at Des Plaines, IL, just north of corner of Alqonguin Rd and Elmhurst Rd. Des Plaines is a northwest suburb of Chicago.</p>
                    <p>Full address is:</p>
                    <p>
                        1051 Elmhurst Rd<br />
                        Des Plaines, IL 60016<br />
                        USA
                    </p>
                    <a class="btn btn-info" href="#/directions">
                        <i class="icon-bar"></i> Step By Step Directions
                    </a>
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Fresh <span class="text-muted">Cevapi.</span> made daily</h2>
                    <p class="lead">Short featurete of our chef Amar making a daily batch of chevapi meat.</p>
                </div>
                <div class="col-md-5">
                    <div id="fb-root"></div>

                    <div class="fb-post" data-href="https://www.facebook.com/photo.php?v=511374185643315" data-width="466"><div class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/photo.php?v=511374185643315">Post</a> by <a href="https://www.facebook.com/SarayGrill">Saray Grill</a>.</div></div>
                </div>
            </div>

            <hr class="featurette-divider">

            <!-- /END THE FEATURETTES -->


        </div><!-- /.container -->

    </script>

    <script id="aboutus" type="x-template">
        <h3>a little about us...</h3>

        <p>
            Saray Grill is a family business with years of experience in preparing fresh,
            (never frozen) traditional Bosnian cuisine. In the early 1950’s my grandmother
            started a restaurant making all kinds of delicious dishes and the famous Bosnian
            “Cevapi”. Grandma’s original recipes are carefully prepared using only fresh and
            the finest ingredients to ensure only high quality, home style goodness.
            Inviting aroma and the delightful taste of our food, will bring to you a bit
            of old world Bosnian tradition. We guarantee that our food will entice your
            adventuresome curiosity.
        </p>
        <img src="images/SarayGrill%20-%20Coffee%202.jpg" />
    </script>
    <script id="menu" type="x-template">


        <div class="container marketing">
            <!-- Three columns of text below the carousel -->
            <div ng-repeat-start="section in menu" class="row">
                <h2>{{section.title}}</h2>
                <h5><span class="text-muted">{{section.subtitle}}</span></h5>
                <div ng-repeat="item in section.items" class="col-lg-4">
                    <img class="img-circle" ng-src="{{item.img}}" style="width: 140px; height: 140px;">
                    <h3>{{item.title}}</h3>
                    <p>{{item.description}}</p>
                    <p><a class="btn btn-default" href="#/menu" ng-click="showDetails(item)" role="button">View details »</a></p>
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
            <hr ng-repeat-end class="featurette-divider">

            <h2>Sides</h2>
            <div class="row">
                <div class="col-lg-4">
                    <h3>Ajvar</h3>
                    <p>Creamy sauce/spread made from red bell pepers and eggplant $1</p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <h3>Kajmak</h3>
                    <p>Bosnian cream cheese $1</p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <h3>French Fries</h3>
                    <p>Side of French Fries $2</p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <h3>Baked Potato</h3>
                    <p> $3.5</p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <h3>Grilled Vegetables</h3>
                    <p>$3.5</p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <h3>Rice</h3>
                    <p>$3.5</p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <h3>Lepina</h3>
                    <p>Pita Bread $3.5</p>
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
            <hr class="featurette-divider">


            <h2>Beverages</h2>
            <div class="row">
                <div class="col-lg-4">
                    <h3>Cappuccino </h3>
                    <p>$2.52</p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <h3>Macchiato</h3>
                    <p>$2.5</p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <h3>Turkish Coffee</h3>
                    <p>$2</p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <h3>Espresso Coffee</h3>
                    <p>$2</p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <h3>Lemonade</h3>
                    <p>$1.5</p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <h3>Jupi or Cockta</h3>
                    <p>Bosnian soda $2</p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <h3>Soda</h3>
                    <p>Coke, Diet Coke, Sprite, Mtn. Dew, Fanta $1.5</p>
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
            <hr class="featurette-divider">

            <div class="row">
                <a class="btn btn-info" href="images/SarayGrill_ToGoMENU_2013_R10_WEB.pdf" target="popup" role="button">To Go / Catoring Menu »</a>
            </div>

            <hr class="featurette-divider">
        </div>

    </script>
    <script type="text/ng-template" id="ImageDetail.html">
        <div class="modal-header">
            <h3>{{item.title}}</h3>
        </div>
        <div class="modal-body">
            <img ng-src="{{item.img}}" width="560" />
            <h4>{{item.description}}</h4>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
        </div>
    </script>


    <script id="directions" type="x-template">
        <h3>Directions</h3>
        <img src="images/uc.png"/>
    </script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <script src="bower_components/director/build/director.min.js"></script>
    <script src="bower_components/vue/dist/vue.js"></script>
    <script src="js/app.min.js"></script>
</body>
</html>
