﻿<h3>a little about us...</h3>

<p>
    Saray Grill is a family business with years of experience in preparing fresh,
    (never frozen) traditional Bosnian cuisine. In the early 1950’s my grandmother
    started a restaurant making all kinds of delicious dishes and the famous Bosnian
    “Cevapi”. Grandma’s original recipes are carefully prepared using only fresh and
    the finest ingredients to ensure only high quality, home style goodness.
    Inviting aroma and the delightful taste of our food, will bring to you a bit
    of old world Bosnian tradition. We guarantee that our food will entice your
    adventuresome curiosity.
</p>
<img src="images/SarayGrill%20-%20Coffee%202.jpg" />
