﻿<h3>Contact Us</h3>

<form class="well ">
    <div class="row">
        <div class="col-lg-3">
            <label>First Name</label>
            <input type="text" class="form-control" placeholder="Your First Name">
            <label>Last Name</label>
            <input type="text" class="form-control" placeholder="Your Last Name">
            <label>Email Address</label>
            <div class="input-prepend">
                <span class="add-on"><i class="icon-envelope"></i></span><input type="text" id="inputIcon" class="form-control" style="width:233px" placeholder="Your email address">
            </div>
            <label>
                Subject
                <select id="subject" name="subject" class="form-control">
                    <option value="na" selected="">Choose One:</option>
                    <option value="service">General Customer Service</option>
                    <option value="suggestions">Suggestions</option>
                    <option value="product">Product Support</option>
                </select>
            </label>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-5">
            <label>Message</label>
            <textarea name="message" id="message" class="input-xlarge form-control" rows="10"></textarea>
        </div>
    </div>
    <button type="submit" class="btn btn-primary pull-right">Send</button>
</form>
