<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<script type="text/x-template" id="img-slider-template">
    <div id="slider">
        <input checked="" type="radio" name="slider" id="slide1" selected="false">
        <input type="radio" name="slider" id="slide2" selected="false">
        <input type="radio" name="slider" id="slide3" selected="false">
        <input type="radio" name="slider" id="slide4" selected="false">
        <div id="slides">
            <div id="overflow">
                <div class="inner">
                    <article>
                        <content select="img:nth-of-type(1)"></content>
                    </article>
                    <article>
                        <content select="img:nth-of-type(2)"></content>
                    </article>
                    <article>
                        <content select="img:nth-of-type(3)"></content>
                    </article>
                    <article>
                        <content select="img:nth-of-type(4)"></content>
                    </article>
                </div> <!-- .inner -->
            </div> <!-- #overflow -->
        </div>
        <label for="slide1"></label>
        <label for="slide2"></label>
        <label for="slide3"></label>
        <label for="slide4"></label>
    </div>
</script>

<div class="container marketing">
    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Always prepared <span class="text-muted">fresh</span>, <span class="text-muted">fast</span> and <span class="text-muted">affordable!</span></h2>
            <p class="lead">Enjoy our assortment of grill entries, home-made Bosnian specialties, delicious deserts, as well as soups, salads and quick bites that is to please every taste bud</p>
            <a class="btn btn-default" href="#/menu">
                <i class="icon-bar"></i> Check Out Our Menu
            </a>
        </div>
        <div class="col-md-5" ng-controller="CarouselCtrl">
            <div style="height: 305px">
                <carousel interval="5000">
                    <slide ng-repeat="slide in slides" active="slide.active">
                        <img ng-src="{{slide.image}}" style="margin:auto;">
                        <div class="carousel-caption">
                            <h4>{{slide.title}}</h4>
                            <p>{{slide.text}}</p>
                        </div>
                    </slide>
                </carousel>
            </div>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-5" ng-controller="RestCarouselCtrl">
            <div style="height: 305px">
                <carousel interval="4000">
                    <slide ng-repeat="slide in slides" active="slide.active">
                        <img ng-src="{{slide.image}}" style="margin:auto;">
                        <div class="carousel-caption">
                            <h4>{{slide.title}}</h4>
                            <p>{{slide.text}}</p>
                        </div>
                    </slide>
                </carousel>
            </div>
        </div>

        <div class="col-md-7">
            <h2 class="featurette-heading">Location</h2>
            <p class="lead">We are located at Des Plaines, IL, just north of corner of Alqonguin Rd and Elmhurst Rd. Des Plaines is a northwest suburb of Chicago.</p>
            <p>Full address is:</p>
            <p>
                1051 Elmhurst Rd<br />
                Des Plaines, IL 60016<br />
                USA
            </p>
            <a class="btn btn-info" href="#/directions">
                <i class="icon-bar"></i> Step By Step Directions
            </a>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Fresh <span class="text-muted">Cevapi.</span> made daily</h2>
            <p class="lead">Short featurete of our chef Amar making a daily batch of chevapi meat.</p>
        </div>
        <div class="col-md-5">
            <div id="fb-root"></div>
            <script>(function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
            <div class="fb-post" data-href="https://www.facebook.com/photo.php?v=511374185643315" data-width="466"><div class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/photo.php?v=511374185643315">Post</a> by <a href="https://www.facebook.com/SarayGrill">Saray Grill</a>.</div></div>
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->


</div><!-- /.container -->
