﻿

<div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div ng-repeat-start="section in menu" class="row">
        <h2>{{section.title}}</h2>
        <h5><span class="text-muted">{{section.subtitle}}</span></h5>
        <div ng-repeat="item in section.items" class="col-lg-4">
            <img class="img-circle" ng-src="{{item.img}}" style="width: 140px; height: 140px;">
            <h3>{{item.title}}</h3>
            <p>{{item.description}}</p>
            <p><a class="btn btn-default" href="#/menu" ng-click="showDetails(item)" role="button">View details »</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <hr ng-repeat-end class="featurette-divider">

    <h2>Sides</h2>
    <div class="row">
        <div class="col-lg-4">
            <h3>Ajvar</h3>
            <p>Creamy sauce/spread made from red bell pepers and eggplant $1</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <h3>Kajmak</h3>
            <p>Bosnian cream cheese $1</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <h3>French Fries</h3>
            <p>Side of French Fries $2</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <h3>Baked Potato</h3>
            <p> $3.5</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <h3>Grilled Vegetables</h3>
            <p>$3.5</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <h3>Rice</h3>
            <p>$3.5</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <h3>Lepina</h3>
            <p>Pita Bread $3.5</p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <hr class="featurette-divider">


    <h2>Beverages</h2>
    <div class="row">
        <div class="col-lg-4">
            <h3>Cappuccino </h3>
            <p>$2.52</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <h3>Macchiato</h3>
            <p>$2.5</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <h3>Turkish Coffee</h3>
            <p>$2</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <h3>Espresso Coffee</h3>
            <p>$2</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <h3>Lemonade</h3>
            <p>$1.5</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <h3>Jupi or Cockta</h3>
            <p>Bosnian soda $2</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <h3>Soda</h3>
            <p>Coke, Diet Coke, Sprite, Mtn. Dew, Fanta $1.5</p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <hr class="featurette-divider">
    
    <div class="row">
        <a class="btn btn-info" href="images/SarayGrill_ToGoMENU_2013_R10_WEB.pdf" target="popup" role="button">To Go / Catoring Menu »</a>
    </div>

    <hr class="featurette-divider">
</div>


<script type="text/ng-template" id="ImageDetail.html">
    <div class="modal-header">
        <h3>{{item.title}}</h3>
    </div>
    <div class="modal-body">
        <img ng-src="{{item.img}}" width="560" />
        <h4>{{item.description}}</h4>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
    </div>
</script>